# Yarn
.pnp.*
.yarn/*
!.yarn/patches
!.yarn/plugins
!.yarn/releases
!.yarn/sdks
!.yarn/versions
/node_modules

# Src
src/**/*.js

# Lib
/lib

# Tests
tests/assets/test1.jest.edp.ejs

# Coverage
coverage
